body {
   background-color: rgba(93, 116, 229, 0.817);
   font-style: italic;
}
p {
font-size: xx-large;
}
h2 {
     font-style: bold;
}
img{
    background-color: rgb(111, 111, 180);
}
.center{
    margin-left: auto;
    margin-right: auto;

}
.center1{
    text-align: center;
    background-color: rgb(44, 167, 243);
}
